body {
    background: rgb(251,171,251);
    background: linear-gradient(180deg, rgba(251,171,251,1) 0%, rgba(119,3,119,1) 100%);
    font-family: Raleway;
}

.div1 {
    display: inline-block;
    /* width: 40%; */
    vertical-align: top;
    margin: 0px 20px 0px 20px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    padding: 15px;
    margin: 20px;
    border: 10px double rgb(85, 1, 85);
    border-radius: 12px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Indie Flower;
}

.textcenter {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 10px double rgb(85, 1, 85);
    border-radius: 12px;
}

#header {
    width: 100%;
    height: 30vh;
    position: relative;
    background-color: red;
}

.header__title {
    width: 50%;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
}

.socialbutton {
    border: 4px double rgb(85, 1, 85);
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
}

.hobbies {
    margin-left: 40%;
}

@media screen and (max-width: 992px) {
    .div1 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    }
    .hobbies {
        margin-left: 10%;
    }
  }
